<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'account_list' %}">Account List</a>
                    <a href="{% url 'category_list' %}">Category List</a>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'create_account' %}">Create Account</a>
                    {% else %}
                    <a href="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    <main>
      <h1>My Receipts</h1>
      <table>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {% for item in receipt_object %}
          <tr>
            <td>{{ item.vendor }}</td>
            <td>{{ item.total }}</td>
            <td>{{ item.tax }}</td>
            <td>{{ item.date|date:"m/d/y" }}</td>
            <td>{{ item.category.name }}</td>
            <td>{{ item.account.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
